

.card-popup {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.store{
    filter: blur(10px);
}
.cardPopupContainer {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 1px 1px 60px 15px #0000007e;
    border-radius: 10px;
    max-width: 30%;
    max-height: 80%;
    margin: 2%;

}

.cardPopupContainer>.imgContainer {
    min-height: 68%;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
}

.cardPopupContainer>.imgContainer>img {
    width: 95%;
}

.infoCard {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    padding: 7px
}