@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
.SectionInitial{
    display: flex;
    width: 100%;
    
    
    
}
.ShoeInformation{
    width: 50%;
    margin: 10px;
    padding: 50px 0 0 20px;
}
.ShoeInformation>h1{
    
    font-size: 5.2em;
    padding: 0;
    margin: 0;
}

.ShoeInformation>h2{
    color: #5759E5  ;
    font-size: 3.8em;
    margin: 0;
    padding: 0;
    font-size: 4.5em;
}
.ShoeInformation>p{
    margin-top: 5%;
    color:#3F3F3F;  
    font-family: Alexandria, serif;
    font-weight: 350;
    letter-spacing: 1px;
}



.ImageInformation{
    height: 100vh;
    background-image: url(../assets/logobackground.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: calc(100% - 30px) calc(100% - 1px);
}

.ImageInformation>img{
    width: 100%;
}



.soleSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
        padding: 2%;
    
}