
.store{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.storeblur{
    filter: blur(10px);
}


.infoStore{
    width: 90vw;
    text-align:left;
}
.infoStore>h1{
    font-size: 2em;
    font-weight:500;
    padding: 0;
    margin-bottom: 3%;
}
.shoesList{
    
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px; 
    
}
.shoesList>.cardContainer {
    box-sizing:content-box;

    
}